main, footer, .nav-container {
    max-width: 1024px;
}

.highlight {
    padding: 0;
}

pre code {
    font-family: 'Courier New', Courier, monospace;
}

img {
    border: 1px solid #555;
}

.post-title {
    font-size: 2.5rem;
}

.highlight pre {
    padding: 10px;
}

table.table-bordered {
    border-collapse: collapse;
}

table.table-bordered th {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    background-color: #555;
    color: #fff;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

table.table-bordered th:first-child {
    border-left: 1px solid #555;
}

table.table-bordered th:last-child {
    border-right: 1px solid #555;
}

table.table-bordered td {
    border: 1px solid #555555;
    padding: 5px 10px 5px 10px;
    text-align: center;
}